.back-link {
  text-decoration: none;
}

.back-link__icon-wrapper {
  overflow: hidden;
  font-size: 0;
}

.back-link__icon, .back-link__text {
  transition: color 0.2s, fill 0.2s;
}

.back-link:hover .back-link__icon {
  fill: var(--color-typo-link);
  animation: IconBack 0.2s;
}

.back-link:hover .back-link__text {
  color: var(--color-typo-link);
}


@keyframes IconBack {
  from {
    transform: translateX(0);
  } 50% {
    transform: translateX(-100%);
  } 51% {
    transform: translateX(100%);
  } to {
    transform: translateX(0);
  }
}
