.project-overview {
  --footer-height: 120px;
  position: fixed;
  left: 0;
  top: var(--main-header-height);
  width: var(--project-overview-width);
  height: calc(100vh - var(--main-header-height));
  box-sizing: border-box;
  background: var(--color-bg-secondary);
}

.project-overview__main {
  height: 100%;
  box-sizing: border-box;
  padding-bottom: calc(var(--footer-height) + var(--space-3xl));
  overflow-y: auto;
}

.project-overview__title { transition: color 0.16s; }

.project-overview__title:hover {
  cursor: pointer;
  color: var(--color-typo-link);
}

.project-overview__title_view_active:hover {
  cursor: text;
}

.project-overview__footer {
  position: absolute;
  left: 0;
  bottom: var(--space-xl);
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  box-sizing: border-box;
  width: 100%;
  height: var(--footer-height);
}