.project-overview {
  --footer-height: 120px;
  position: relative;
  height: calc(100vh - var(--header-height));
  box-sizing: border-box;
  background: var(--color-bg-secondary);
}

.project-overview__main {
  height: 100%;
  box-sizing: border-box;
  padding-bottom: calc(var(--footer-height) + var(--space-3xl));
  overflow-y: auto;
}

.project-overview__footer {
  position: absolute;
  left: 0;
  bottom: var(--space-xl);
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  box-sizing: border-box;
  width: 100%;
  height: var(--footer-height);
}