.stats-table {
  display: block;
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.stats-table__row {
  position: relative;
}

.stats-table__name {
  position: relative;
  display: flex;
  flex-grow: 1;
  white-space: nowrap;
}

.stats-table__name::after {
  content: '';
  position: relative;
  display: block;
  flex: 1 1 100%;
  margin: 0 var(--space-2xs);
  border-bottom: 1px dotted var(--color-bg-border);
  transform: translateY(-0.3em);
}