.project-list-table {
  position: relative;
  border-collapse: collapse;
}

.project-list-table__item:hover {
  cursor: pointer;
  background: var(--color-bg-ghost) !important;
}

.project-list-table__title { transition: color 0.2s; }

.project-list-table__item:hover .project-list-table__title {
  color: var(--color-typo-link);
}

.badge1 { white-space: nowrap;}