.project-data {
  align-items: start;
}

.project-data__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.project-data__stats {
  padding: var(--space-s) var(--space-m);
  background: var(--color-bg-secondary);
  border-radius: 8px;
}


/* /////////////////// */
.plan-horizon {
  display: flex;
}